<section class="compare-view">
  <h2>コメント編集履歴の比較</h2>
  <%= render 'compare_form', comment: @comment, versions: @versions, from: @from, to: @to %>

  <div class="compare-header">
    <div class="version-from">
      <h3>Version <%= @from %></h3>
      <p>作成者: <%= @compare_from_history.author.nickname %></p>
      <p>作成日: <%= @compare_from_history.created_at.strftime('%Y-%m-%d %H:%M') %></p>
      <p><%= @compare_from_history.content %></p>
    </div>
    <div class="version-to">
      <h3>Version <%= @to %></h3>
      <p>作成者: <%= @compare_to_history.author.nickname %></p>
      <p>作成日: <%= @compare_to_history.created_at.strftime('%Y-%m-%d %H:%M') %></p>
      <p><%= @compare_to_history.content %></p>
    </div>
  </div>

  <div class="compare-actions">
    <%= link_to t('views.shared.action.back'), comment_histories_path(@comment), class: 'back-link' %>
  </div>
</section>
