<h2><%= t('views.shared.title.edit', resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>

      <em><%= @minimum_password_length %> <%= t('devise.registrations.edit.characters_minimum') %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes') %>)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.edit.update') %>
  </div>
<% end %>

<%= link_to t('views.shared.action.back'), (request.referer || root_path) %>
