<article class="layout-center">
  <section class="form-card">
    <h2><%= t('.title') %></h2>

    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.hidden_field :update_kind, value: "profile" %>

      <div class="field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>

      <div class="actions">
        <%= f.submit t('.actions.update') %>
      </div>
    <% end %>
  </section>
</article>
