<div class="comment" id="comment-<%= comment.id %>">
  <div class="comment-header">
    <p><strong><%= comment.author.nickname %></strong></p>
  </div>
  <p class="comment-content"><%= comment.content %></p>
  <div class="comment-footer">
    <p>
      作成日: <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
    </p>
    <% if comment.author == current_user %>
      <p>
        <span class="material-icons">edit</span>
        <%= link_to '編集', edit_topic_comment_path(comment.topic, comment), class: "edit-link" %>
      </p>
      <p>
        <span class="material-icons">history</span>
        <%= link_to '履歴', comment_histories_path(comment), class: "history-link" %>
      </p>
    <% else %>
      <p>
        <span class="material-icons">flag</span>
        <%= link_to '違法ユーザ', new_report_path(
          format: :turbo_stream,
          reportable_type: "user",
          reportable_id: comment.author.id,
          from_topic_id: comment.topic.id,
        ) %>
      </p>
      <p>
        <span class="material-icons">flag</span>
        <%= link_to 'コメントの非表示', new_report_path(
          format: :turbo_stream,
          reportable_type: "comment",
          reportable_id: comment.id,
          from_topic_id: comment.topic.id,
        ) %>
      </p>
    <% end %>
  </div>
</div>
