<%= turbo_stream.append "comment-list" do %>
  <%= render partial: "comments/comment", locals: { comment: @comment } %>
<% end %>

<%= turbo_stream.replace "new-comment-form" do %>
  <%= form_with(model: [@topic, Comment.new], local: false, id: "new-comment-form") do |f| %>
    <div class="field">
      <%= f.label :content, "コメント内容" %>
      <%= f.text_area :content, rows: 3 %>
    </div>
    <div class="actions">
      <%= f.submit "コメントする" %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "topic-comment-messages" do %>
  <div class="notice" id="topic-comment-messages">
    <ul>
      <% flash.each do |type, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
