<div class="back-action">
  <%= link_to topic_path(@topic) do %>
    <span class="material-icons">arrow_back</span>
  <% end %>
</div>
<section class="form-card">
  <h3><%= t('views.shared.title.edit', resource: Comment.model_name.human) %></h3>

  <%= form_with(model: [@topic, @comment], local: true) do |f| %>
    <% if @comment.errors.any? %>
      <div class="error-messages">
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, rows: 5 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</section>
