<table class="decisions-table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.report.reporter') %></th>
      <th><%= t('activerecord.attributes.report.reason_type') %></th>
      <th><%= t('activerecord.attributes.report.reason_text') %></th>
      <th><%= t('activerecord.attributes.report.target_user') %></th>
      <th><%= t('activerecord.attributes.decision.decision_type') %></th>
      <th><%= t('activerecord.attributes.decision.note') %></th>
      <th><%= t('activerecord.attributes.decision.suspension_until') %></th>
      <th><%= t('activerecord.attributes.decision.decided_by') %></th>
      <th><%= t('activerecord.attributes.decision.created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% pagination.records.each do |decision| %>
      <tr>
        <td><%= decision.report.reporter.nickname %></td>
        <td><%= decision.report.enum_i18n(:reason_type) %></td>
        <td><%= decision.report.reason_text %></td>
        <td><%= decision.report.target_user.nickname %></td>
        <td><%= decision.enum_i18n(:decision_type) %></td>
        <td><%= decision.note %></td>
        <td><%= decision.suspension_until.present? ? l(decision.suspension_until, format: :default) : '-' %></td>
        <td><%= decision.moderator.nickname %></td>
        <td><%= l(decision.created_at, format: :default) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
