<article class="layout-center">
  <section class="form-card">
    <h2><%= t('.title') %></h2>

    <%= form_for(resource, as: resource_name, url: moderator_registration_path, html: { "data-turbo": "false" }) do |f| %>
      <%= render partial: "shared/form_errors", locals: { model: resource } %>

      <%= f.hidden_field :update_kind, value: "password" %>

      <div class="field">
        <%= f.label :current_password %>
        <small><%= t('devise.registrations.messages.current_password_help') %></small>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <small><%= @minimum_password_length %> <%= t('.messages.characters_minimum') %></small>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit t('.actions.update') %>
      </div>
    <% end %>
  </section>
</article>
