<article class="layout-center">
    <section class="form-card">
        <h2><%= t("views.shared.title.#{topic.new_record? ? 'new' : 'edit'}", resource: Topic.model_name.human) %></h2>

        <%= form_with model: topic do |f| %>
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <% topic.errors.each do |error| %>
            <div class="error-message">
              <%= error.full_message %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

        <div>
          <%= link_to t('views.shared.action.back'), topics_path %>
        </div>
    </section>
</article>
