<article>
  <div class="topic-header">
    <h2><%= t('views.shared.title.index', resource: Topic.model_name.human) %></h2>
    <div class="topic-actions">
      <% if can_access?('topics', 'new') %>
        <%= link_to new_topic_path do %>
          <%= t('views.topics.action.new', resource: Topic.model_name.human) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul class="topics-list">
    <% @pagination.records.each do |topic| %>
      <li class="topic-item">
        <div>
          <%= link_to topic_path(topic) do %>
            <h3><%= topic.title %></h3>
          <% end %>
          <div class="topic-details">
            <p>作成者: <%= topic.author.nickname %></p>
            <p>作成日: <%= topic.created_at.strftime('%Y-%m-%d %H:%M') %></p>
            <p>コメント数: <%= topic.total_comment %>件</p>
          </div>
        </div>
        <% if can_access?('topics', 'edit', topic) %>
          <div class="edit-actions">
            <%= link_to edit_topic_path(topic) do %>
              <span class="material-icons">edit</span>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
</article>
