<article>
  <section class="topic-show">
    <h3><%= @topic.title %></h3>
    <div class="topic-details">
        <p>作成者: <%= @topic.author.nickname %></p>
        <p>作成日: <%= @topic.created_at.strftime('%Y-%m-%d %H:%M') %></p>
    </div>
  </section>
  <section class="topic-comments">
    <h4>コメント</h4>
    <div id="comment-list" class="comment-list">
      <% @pagination.records.to_a.reverse.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    </div>
    <%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
  </section>
  <% if can_access?('comments', 'create') %>
    <section class="form-card">
      <h3>コメントを投稿する</h3>
      <div id="topic-comment-messages"></div>
      <%= form_with(model: [@topic, Comment.new], local: false, id: "new-comment-form") do |f| %>
        <div class="field">
          <%= f.label :content, "コメント内容" %>
          <%= f.text_area :content, rows: 3 %>
        </div>
        <div class="actions">
          <%= f.submit "コメントする" %>
        </div>
      <% end %>
    </section>
  <% end %>
</article>
