<table class="reports-table">
    <thead>
    <tr>
        <th>通報者</th>
        <th>通報理由タイプ</th>
        <th>通報理由テキスト</th>
        <th><%= Topic.model_name.human %>タイトル</th>
        <th><%= Comment.model_name.human %>内容</th>
        <th><%= Comment.model_name.human %>日時</th>
        <th><%= Comment.model_name.human %>者</th>
        <th>バージョン番号</th>
        <th>通報日時</th>
        <th>アクション</th>
    </tr>
    </thead>
    <tbody>
    <% pagination.records.each do |report| %>
        <tr>
        <td><%= report.reporter&.nickname %></td>
        <td><%= report.enum_i18n(:reason_type) %></td>
        <td><%= truncate(report.reason_text, length: 50) %></td>
        <td><%= report.target_comment&.topic&.title %></td>
        <td><%= truncate(report.target_comment&.content, length: 50) %></td>
        <td><%= report.target_comment&.created_at&.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= report.target_comment&.author&.nickname %></td>
        <td><%= report.target_comment&.current_version_no %></td>
        <td><%= report.created_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td>
            <%= link_to '審査', new_decision_path(report_id: report.id, format: :turbo_stream), class: 'btn btn-sm btn-primary' %>
        </td>
        </tr>
    <% end %>
    </tbody>
</table>
