<!DOCTYPE html>
<html>
  <head>
    <title>BoardApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet" %>
    <%= stylesheet_link_tag "application" %>
    <!-- TODO: コントローラごとにスタイルを追加。manifest.jsもlink_treeからlink_directoryに変更 -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= root_class_name %>">
    <%= render 'shared/header' %>
    <main>
      <div class="flash-messages">
        <% flash.each do |type, message| %>
          <div class="flash-<%= type %>"><%= message %></div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
